<?xml version="1.0" encoding="utf-8"?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.novoda.oauth"
	android:versionCode="1"
	android:versionName="1.0">

	<permission
		android:name="com.novoda.oauth.ACCESS_OAUTH_INFORMATION"
		android:label="@string/permlab_oauth"
		android:description="@string/permdesc_oauth"
		android:protectionLevel="dangerous" />

	<application
		android:icon="@drawable/icon"
		android:label="@string/app_name">

		<provider
			android:name=".provider.OAuthProvider"
			android:grantUriPermissions="true"
			android:permission="com.novoda.oauth.ACCESS_OAUTH_INFORMATION"
			android:authorities="com.novoda.oauth.provider.OAuth" />

		<activity
			android:name=".activities.OAuthListing">
			<intent-filter>
				<action
					android:name="android.intent.action.MAIN" />
				<category
					android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
			<intent-filter>
				<action
					android:name="android.intent.action.VIEW" />
				<category
					android:name="android.intent.category.DEFAULT" />
				<data
					android:mimeType="vnd.android.cursor.dir/vnd.novoda.oauth" />
			</intent-filter>
		</activity>


		<activity
			android:name=".activities.OAuthActivity"
			android:permission="android.permission.INTERNET"
			android:launchMode="singleTask">
			<intent-filter>
				<action
					android:name="android.intent.action.VIEW" />
				<category
					android:name="android.intent.category.BROWSABLE" />
				<category
					android:name="android.intent.category.DEFAULT" />
				<data
					android:scheme="oauth" />
			</intent-filter>
			<intent-filter>
				<action
					android:name="android.intent.action.INSERT" />
				<category
					android:name="android.intent.category.DEFAULT" />
				<data
					android:mimeType="vnd.android.cursor.dir/vnd.novoda.oauth" />
			</intent-filter>
		</activity>

		<activity
			android:name=".activities.OAuthCallActivity"
			android:permission="android.permission.INTERNET">
			<intent-filter>
				<action
					android:name="com.novoda.oauth.action.OAUTH_CALL" />
				<category
					android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>


		<!-- Registering all application's so they can access their URI -->
		<receiver
			android:name="com.novoda.oauth.receiver.RegisterURIPermissions">
			<intent-filter>
				<action
					android:name="android.intent.action.BOOT_COMPLETED" />
			</intent-filter>
		</receiver>
	</application>

	<uses-permission
		android:name="android.permission.INTERNET" />
	<uses-permission
		android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	<uses-permission
		android:name="com.novoda.oauth.ACCESS_OAUTH_INFORMATION" />

	<uses-sdk
		android:minSdkVersion="3" />
</manifest> 